In [11]:
import pandas as pd

In [18]:
df = pd.read_csv("output.csv")

In [19]:
df["score"] = pd.to_numeric(df["score"], errors='coerce')
df = df.dropna(subset=["score"])

In [20]:
df = df.drop_duplicates(subset=["offer_ref", "entry_id", "review_text"])

In [21]:
comparison = pd.merge(df[df["score"] <= 2].groupby("offer_ref")["review_text"].count(), df[df["score"] >= 4].groupby("offer_ref")["review_text"].count(), how="outer", on="offer_ref")

In [26]:
df["offer_ref"].nunique()

9266

In [22]:
comparison

           review_text_x  review_text_y
offer_ref
100000558            1.0            NaN
100000964            1.0            NaN
100001301            1.0            3.0
100001355            1.0            NaN
100001383            1.0            3.0
...                  ...            ...
97729066             NaN            3.0
97758463             NaN            1.0
98019121             NaN            4.0
98433028             NaN            1.0
99893752             NaN            1.0

[9168 rows x 2 columns]

In [27]:
comparison[(comparison["review_text_x"] > comparison["review_text_y"]) | comparison["review_text_y"].isna()].index.to_series()#.to_csv("unfinished offers.csv", index=False)

offer_ref
100000558    100000558
100000964    100000964
100001355    100001355
100012759    100012759
100027887    100027887
               ...
99956211      99956211
99956216      99956216
99990517      99990517
99995096      99995096
99999121      99999121
Name: offer_ref, Length: 4396, dtype: object

In [24]:
df[df["score"] >= 4].groupby("offer_ref")["review_text"].count()

offer_ref
100001301    3
100001383    3
100004902    5
100022437    5
100030720    3
            ..
99903276     5
99948877     5
9994996      2
99971021     4
99991693     3
Name: review_text, Length: 4851, dtype: int64